<div class="">
    <h3>Marcador actual: {{marcador}}.</h3>
</div>

<div id="map" class="map"></div>

<div class="description">
    Este índice llamado AQI, lo que nos permite saber, es qué tan contaminado está el aire en una escala de 0 a 100, siendo 0 no contaminado y 100 completamente contaminado.
    Cuanto más alto sea este marcador, mayores son los niveles de riesgo para la salud pública.

    La contaminación por partículas ha sido asociada a ataques al corazón y a accidentes cerebrovasculares, e incluso a la muerte en personas con enfermedades cardiacas. En los días en que la contaminación por partículas tenga un código naranja, haga actividad física menos intensa. Camine en lugar de correr o saque maleza de su jardín en lugar de hacer trabajos más pesados.
</div>

<button id="boton">Quitar layer </button>